$blockSize: 40px;
$tetrobombinoSize: $blockSize * 4;

body {
	position: absolute;
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-color: #eee;

	* {
		box-sizing: border-box;
	}
}

#tetrobomb-scene {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: #ddd;
}

#tetrobomb-scene--scoresection {
	position: relative;
	float: left;
	width: 20%;
	height: 100%;
	background-color: #ccc;
}

#tetrobomb-scene--gameboard {
	position: relative;
	float: left;
	width: 60%;
	height: 100%;
	background-color: #bbb;
}

#tetrobomb-scene--hintsection {
	position: relative;
	width: 20%;
	height: 100%;
	background-color: #aaa;
}

.block {
	position: relative;
	height: $blockSize;
	width: $blockSize;
	float: left;

	transition: all 0.2s ease-in-out;
}

.tetrobombino-I {
	&.rotate0 {
		.block1 { top: 0; left: 0; }
		.block2 { top: 0; left: $blockSize; }
		.block3 { top: 0; left: $blockSize * 2; }
		.block4 { top: 0; left: $blockSize * 3; }
	}

	&.rotate1 {
		.block1 { top: $blockSize * 3; left: 0; }
		.block2 { top: $blockSize * 2; left: 0; }
		.block3 { top: $blockSize; left: 0; }
		.block4 { top: 0; left: 0; }
	}

	&.rotate2 {
		.block1 { top: 0; left: $blockSize * 3; }
		.block2 { top: 0; left: $blockSize * 2; }
		.block3 { top: 0; left: $blockSize; }
		.block4 { top: 0; left: 0; }
	}

	&.rotate3 {
		.block1 { top: 0; left: 0; }
		.block2 { top: $blockSize; left: 0; }
		.block3 { top: $blockSize * 2; left: 0; }
		.block4 { top: $blockSize * 3; left: 0; }
	}
}

.tetrobombino-O {
	&.rotate0 {
		.block1 { top: 0; left: 0; }
		.block2 { top: 0; left: $blockSize; }
		.block3 { top: $blockSize; left: 0; }
		.block4 { top: $blockSize; left: $blockSize; }
	}

	&.rotate1 {
		.block1 { top: $blockSize; left: $blockSize; }
		.block2 { top: 0; left: 0; }
		.block3 { top: 0; left: $blockSize; }
		.block4 { top: $blockSize; left: 0; }
	}

	&.rotate2 {
		.block1 { top: $blockSize; left: 0; }
		.block2 { top: $blockSize; left: $blockSize; }
		.block3 { top: 0; left: 0; }
		.block4 { top: 0; left: $blockSize; }
	}

	&.rotate3 {
		.block1 { top: 0; left: $blockSize; }
		.block2 { top: $blockSize; left: 0; }
		.block3 { top: $blockSize; left: $blockSize; }
		.block4 { top: 0; left: 0; }
	}
}

.tetrobombino-T {

	&.rotate0 {
		.block1 { top: 0; left: $blockSize; }
		.block2 { top: $blockSize; left: 0; }
		.block3 { top: $blockSize; left: $blockSize; }
		.block4 { top: $blockSize; left: $blockSize * 2; }
	}

	&.rotate1 {
		.block1 { top: $blockSize; left: $blockSize; }
		.block2 { top: 0; left: 0; }
		.block3 { top: $blockSize; left: 0; }
		.block4 { top: $blockSize * 2; left: 0; }
	}

	&.rotate2 {
		.block1 { top: $blockSize; left: $blockSize; }
		.block2 { top: 0; left: $blockSize * 2; }
		.block3 { top: 0; left: $blockSize; }
		.block4 { top: 0; left: 0; }
	}

	&.rotate3 {
		.block1 { top: $blockSize; left: 0; }
		.block2 { top: $blockSize * 2; left: $blockSize; }
		.block3 { top: $blockSize; left: $blockSize; }
		.block4 { top: 0; left: $blockSize; }
	}
}

.tetrobombino-S {

	&.rotate0 {
		.block1 { top: 0; left: $blockSize; }
		.block2 { top: 0; left: $blockSize * 2; }
		.block3 { top: $blockSize; left: 0; }
		.block4 { top: $blockSize; left: $blockSize; }
	}

	&.rotate1 {
		.block1 { top: $blockSize; left: $blockSize; }
		.block2 { top: $blockSize * 2; left: $blockSize; }
		.block3 { top: 0; left: 0; }
		.block4 { top: $blockSize; left: 0; }
	}

	&.rotate2 {
		.block1 { top: $blockSize; left: $blockSize; }
		.block2 { top: $blockSize; left: 0; }
		.block3 { top: 0; left: $blockSize * 2; }
		.block4 { top: 0; left: $blockSize; }
	}

	&.rotate3 {
		.block1 { top: $blockSize; left: 0; }
		.block2 { top: 0; left: 0; }
		.block3 { top: $blockSize * 2; left: $blockSize; }
		.block4 { top: $blockSize; left: $blockSize; }
	}
}

.tetrobombino-Z {

	&.rotate0 {
		.block1 { top: 0; left: 0; }
		.block2 { top: 0; left: $blockSize; }
		.block3 { top: $blockSize; left: $blockSize; }
		.block4 { top: $blockSize; left: $blockSize * 2; }
	}

	&.rotate1 {
		.block1 { top: 0; left: $blockSize; }
		.block2 { top: $blockSize; left: $blockSize; }
		.block3 { top: $blockSize; left: 0; }
		.block4 { top: $blockSize * 2; left: 0; }
	}

	&.rotate2 {
		.block1 { top: $blockSize; left: $blockSize * 2; }
		.block2 { top: $blockSize; left: $blockSize; }
		.block3 { top: 0; left: $blockSize; }
		.block4 { top: 0; left: 0; }
	}

	&.rotate3 {
		.block1 { top: $blockSize * 2; left: 0; }
		.block2 { top: $blockSize; left: 0; }
		.block3 { top: $blockSize; left: $blockSize; }
		.block4 { top: 0; left: $blockSize; }
	}
}

.tetrobombino-J {

	&.rotate0 {
		.block1 { top: 0; left: 0; }
		.block2 { top: $blockSize; left: 0; }
		.block3 { top: $blockSize; left: $blockSize; }
		.block4 { top: $blockSize; left: $blockSize * 2; }
	}

	&.rotate1 {
		.block1 { top: 0; left: $blockSize; }
		.block2 { top: 0; left: 0; }
		.block3 { top: $blockSize; left: 0; }
		.block4 { top: $blockSize * 2; left: 0; }
	}

	&.rotate2 {
		.block1 { top: $blockSize; left: $blockSize * 2; }
		.block2 { top: 0; left: $blockSize * 2; }
		.block3 { top: 0; left: $blockSize; }
		.block4 { top: 0; left: 0; }
	}

	&.rotate3 {
		.block1 { top: $blockSize * 2; left: 0; }
		.block2 { top: $blockSize * 2; left: $blockSize; }
		.block3 { top: $blockSize; left: $blockSize; }
		.block4 { top: 0; left: $blockSize; }
	}
}

.tetrobombino {
	position: absolute;
	width: $blockSize * 4;
	height: $blockSize * 4;
	background-color: #999;
	box-shadow: 0 0 2px 0 #555;
}

.block {
	position: absolute;		
	border: 1px solid #333;
	text-align: center;
	line-height: $blockSize;
}

#tetrobombino-1 {
	position: relative;
	display:inline-block;
	width: $blockSize * 4;
	height: $blockSize * 4;
}

#tetrobombino-2 {
	position: relative;
	display:inline-block;
	width: $blockSize * 4;
	height: $blockSize * 4;
}

#tetrobombino-3 {
	position: relative;
	display:inline-block;
	width: $blockSize * 4;
	height: $blockSize * 4;
}

#tetrobombino-4 {
	position: relative;
	display:inline-block;
	width: $blockSize * 4;
	height: $blockSize * 4;
}

#tetrobombino-5 {
	position: relative;
	display:inline-block;
	width: $blockSize * 4;
	height: $blockSize * 4;
}

#tetrobombino-6 {
	position: relative;
	display:inline-block;
	width: $blockSize * 4;
	height: $blockSize * 4;
}

#tetrobombino-7 {
	position: relative;
	display:inline-block;
	width: $blockSize * 4;
	height: $blockSize * 4;
}